@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title> @Model.Content.Name </title>
    </head>
	<body>
		<h1> @(Model.Content.GetProperty("heading").Value ?? Model.Content.Name) </h1>
        

        @if(Model.Content.HasValue("mainImage"))
        {
            var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("mainImage"));
            <img src='@mediaItem.GetPropertyValue("umbracofile")' alt='@mediaItem.GetPropertyValue("name")' />
        }   

	    <div>Hello</div>

	    <span class='intro'>
            <p>
                @Model.Content.GetProperty("intro").Value
            </p>
	    </span>
        
	    <div class='body'>
            @Model.Content.GetProperty("body").Value
	    </div>
	</body>
</html>